# Recommended Python package requirements for `CV_analysis`

pandas>=1.5
numpy>=1.23
scikit-learn>=1.1
scipy>=1.8

# Notebook / execution
jupyter
notebook
nbconvert
papermill
ipython

# Data viz
matplotlib
seaborn

# TF/IO
pyarrow>=8.0    
fastparquet>=0.8  

# Text processing / NLP
spacy>=3.4
stop-words>=2018.7.23


# Utilities
tqdm
pyyaml

